<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>
</head>

<body>
<div id="main-container"></div>
<!--
<script src="../client/static/output/js/view/main/index.bundle.js"></script>-->
<script type="text/babel" src="../client/static/js/view/main/1.HelloWorld.JSX"></script>
</body>
</html>